
    * {
        padding: 0;
        margin: 0;
        color: rgb(255, 255, 255);
    }

    body {
        background-color: #090912;
    }

    .win,
    .lose,
    .draw {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 8px;
        margin: 8px;
        border-radius: 15px;
        border: 2px solid #ff0000;
        box-shadow: 0 0 15px rgba(255, 0, 0, 0.6);
    }

  .win {
        border: 2px solid #00ff88;
        box-shadow:
            0 0 8px #00ff88,
            0 0 20px rgba(0, 255, 136, .7);
    }

    .lose {
        border: 2px solid #ff4d4d;
        box-shadow:
            0 0 8px #ff4d4d,
            0 0 20px rgba(255, 77, 77, .7);
    }

    .draw {
        border: 2px solid #8B5CF6;
        box-shadow:
            0 0 8px #8B5CF6,
            0 0 18px #8B5CF6;
    }

    nav {
        border: 2px solid #9d4edd;
        box-shadow:
            0 0 8px #9d4edd,
            0 0 20px rgba(157, 78, 221, .7);
        margin: 4px;
        padding: 7px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav h1 {
        font-size: 40px;
        font-weight: 700;
        color: #ffffff;
        letter-spacing: 2px;
        text-shadow:
            0 0 1px #ffffff,
            0 0 2px #00bfff,
            0 0 5px #00bfff,
            0 0 10px #7C3AED;
        transition: .3s ease;
    }

    nav h3 {
        font-weight: 700;
        letter-spacing: 2px;
    }

    .head {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 75vw;
        gap: 8px;
    }

    .highScore{
        display: flex;
        align-items: center;
        justify-content: center;
        border-color: transparent;
        font-size: 30px;
        padding: 12px;
        border-radius: 20px;
        gap: 5px;
        border: 2px solid #FFD700;
        box-shadow:
            0 0 8px #FFD700,
            0 0 20px rgba(255, 215, 0, .7);
    }

    .com_img,
    .user_img {
        font-size: 72px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .grnd {
        padding: 7px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .grnd1 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .you,
    .computer {
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .you,
    .vs,
    .computer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
        border: 2px solid #ff0000;
        box-shadow: 0 0 15px rgba(255, 0, 0, 0.6);
    }

    .computer {
        border: 2px solid #ff3b5c;
        box-shadow:
            0 0 8px #ff3b5c,
            0 0 20px rgba(255, 59, 92, .7);
    }

    .vs {
        margin: 25px;
        border-radius: 30px;
        width: 12rem;
        font-size: 80px;
        border: 2px solid #D946EF;
        box-shadow:
            0 0 8px #D946EF,
            0 0 18px #D946EF,
            0 0 30px #D946EF;
        text-shadow:
            0 0 10px #fff,
            0 0 25px #D946EF;
    }

    .you {
        border: 2px solid #00bfff;
        box-shadow:
            0 0 5px #00bfff,
            0 0 12px #00bfff,
            0 0 25px rgba(0, 191, 255, .8);
    }

    span {
        font-size: 12px;
        text-shadow: 0 0 8px #0f28b8, 0 0 20px #201eb3;
    }

    .you span {
        color: #ffffff;
        text-shadow:
            0 0 8px #00bfff,
            0 0 15px #00bfff;
    }

    button {
        font-size: 20px;
        padding: 7px;
        margin: 7px;
        width: 8rem;
        border-radius: 8px;
        background: #171717;
        background-color: transparent;
        background-color: rgba(185, 94, 94, 0.185);
    }

    .all {
        padding: 10px;
        margin: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
        border: 2px solid #8b5cf6;
        box-shadow:
            0 0 8px #8b5cf6,
            0 0 18px rgba(139, 92, 246, .6);
    }

    .left {
        padding: 10px;
        width: 55vw;
        height: 73vh;
        border: 2px solid #6c63ff;
        border-radius: 20px;
        box-shadow:
            0 0 8px #6c63ff,
            0 0 20px rgba(108, 99, 255, .7);

    }

    .right {
        width: 25vw;
        height: 76vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        font-size: 32px;
        border-radius: 20px;
        border: 2px solid #b026ff;
        box-shadow:
            0 0 8px #b026ff,
            0 0 20px rgba(176, 38, 255, .7);
    }

    .move {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .you p,
    .computer p {
        margin-top: 7px;
        height: 155px;
        width: 155px;
        padding: 5px;
        border-radius: 100px;
    }

    .you p {
        border: 2px solid #00bfff;
        box-shadow:
            0 0 5px #00bfff,
            0 0 12px #00bfff,
            0 0 25px rgba(0, 191, 255, .8);
    }

    .computer p {
        border: 2px solid #ff3b5c;
        box-shadow:
            0 0 8px #ff3b5c,
            0 0 20px rgba(255, 59, 92, .7);
    }

    .you span,
    .computer span {
        font-size: 30px;
    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .score {
        display: flex;
        align-items: center;
        justify-content: center;
        display: flex;
        border: 2px solid #00E5FF;
        box-shadow:
            0 0 8px #00E5FF,
            0 0 20px #00E5FF;
        padding: 20px;
        margin: 8px;
        border-radius: 15px;
    }

    .rock button,
    .paper button,
    .sessior button {
        border: 2px solid #9CA3AF;
        box-shadow:
            0 0 8px #9CA3AF,
            0 0 18px #9CA3AF;
    }

    .summery {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 7px;
        height: 70%;
    }

    .summery img {
        height: 58px;
    }

    .result {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        width: 15rem;
        border-radius: 8px;
        border-color: transparent;
    }

    .sessior button,
    .rock button,
    .paper button {
        border-radius: 100px;
        width: 8rem;
        height: 8rem;
        background-color: transparent;

    }

    .move img {
        height: 60px;
    }

    .user_img {
        font-size: 72px;
        color: #ffffff;
        text-shadow:
            0 0 8px #00bfff,
            0 0 15px #00bfff,
            0 0 30px #00bfff;
        filter: drop-shadow(0 0 10px #00bfff);
        transition: .3s ease;
    }

    .highScore img{
         height: 32px;
}

    .com_img {
        font-size: 72px;
        color: #ffffff;
        text-shadow:
            0 0 8px #ff3b5c,
            0 0 15px #ff3b5c,
            0 0 30px #ff3b5c;
        filter: drop-shadow(0 0 8px #ff3b5c);
        transition: .3s ease;
    }

    button:hover {
        border-color: #00ff88;
        color: #00ff88;
        box-shadow:
            0 0 8px #00ff88,
            0 0 18px #00ff88;
        transform: translateY(-3px);
    }

    .rock button:hover,
    .paper button:hover,
    .sessior button:hover {
        transform: scale(1.08);
        transition: .3s;
    }
